mat-grid-tile {
    background: lightblue;
  }
  
  button {
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-family: Arial;
  }
  
  button:hover {
    background-color: #cfd8dc;
  }
  
  .button-hit {
    background: #F63D3D;
    font-size: 30px;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: not-allowed;
  }
  
  .button-miss,
  button:disabled {
    position: relative;
    left: 194px;
    top: -32px;
    background-color: gray !important;
    color: white;
    cursor: not-allowed;
  }
  
  .green {
      background-color: green;
  }
  .red {
      background-color: red;
  }