<body class="">
    <div class="row" style="padding: 1rem; background-color: rgb(238, 228, 228);">
        <div class="col-lg-12">
            <div class="bs-component">
            
                <div class="card text-white bg-primary mb-3" style="text-align: center;">
                    <div class="card-body">
                        <h4 class="card-title">Game screen</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>

<!-- Background colors to be changed in final release -->
