<div class="row" style="padding: 1rem; background-color: rgb(238, 228, 228);">
    <div class="col-lg-6">
      
      <div class="card" style="text-align: center;">
        <div class="card-body">
            Your ships
            <div class="row">
                <div class="bs-component" >
                    <div class="btn-group-vertical">
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-ship"></button>
                      <button type="button" class="btn btn-lg btn-hit"></button>
                      <button type="button" class="btn btn-lg btn-miss"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                    </div>
                </div>

                <div class="bs-component">
                    <div class="btn-group-vertical">
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                    </div>
                </div>
                
                <div class="bs-component">
                    <div class="btn-group-vertical">
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                    </div>
                </div>

                <div class="bs-component">
                    <div class="btn-group-vertical">
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                    </div>
                </div>

                <div class="bs-component">
                    <div class="btn-group-vertical">
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                    </div>
                </div>

                <div class="bs-component">
                    <div class="btn-group-vertical">
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                    </div>
                </div>

                <div class="bs-component">
                    <div class="btn-group-vertical">
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                    </div>
                </div>

                <div class="bs-component">
                    <div class="btn-group-vertical">
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                    </div>
                </div>

                <div class="bs-component">
                    <div class="btn-group-vertical">
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                    </div>
                </div>

                <div class="bs-component">
                    <div class="btn-group-vertical">
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                      <button type="button" class="btn btn-lg btn-empty"></button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
    <div class="col-lg-6">
      <div class="bs-component" style="background-color: darkgreen;">
            <div class="card" style="text-align: center; align-items: center;">
                <div class="card-body">
                    Where to shot next pirate?

                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col"></th>
                            <th scope="col">A</th>
                            <th scope="col">B</th>
                            <th scope="col">C</th>
                            <th scope="col">D</th>
                            <th scope="col">E</th>
                            <th scope="col">F</th>
                            <th scope="col">G</th>
                            <th scope="col">H</th>
                            <th scope="col">I</th>
                            <th scope="col">J</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="table-default">
                            <th scope="row">10</th>
                            <td type="buttton" class="btn btn-lg btn-block"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr class="table-default">
                            <th scope="row">9</th>
                            <td></td>
                          </tr>
                          <tr class="table-default">
                            <th scope="row">8</th>
                            <td></td>
                          </tr>
                          <tr class="table-default">
                            <th scope="row">7</th>
                            <td></td>
                          </tr>
                          <tr class="table-default">
                            <th scope="row">6</th>
                            <td></td>
                          </tr>
                          <tr class="table-default">
                            <th scope="row">5</th>
                            <td></td>
                          </tr>
                          <tr class="table-default">
                            <th scope="row">4</th>
                            <td></td>
                          </tr>
                          <tr class="table-default">
                            <th scope="row">3</th>
                            <td></td>
                          </tr>
                          <tr class="table-default">
                            <th scope="row">2</th>
                            <td></td>
                          </tr>
                          <tr class="table-default">
                            <th scope="row">1</th>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>

                </div>
            </div>


        </div>
    </div>
</div>

<div class="row" style="padding: 1rem; background-color: rgb(238, 228, 228);">
  <div class="col-lg-4">
          <div class="card" style="text-align: center; padding-top: 1rem; background-color: darkgrey;">
            <h5 class="card-title">Player info</h5>
            <div class="card-body">
              <p *ngIf="player" >
                Player {{player.id}}: {{player.name}}
              </p>
            </div>
          </div>
        </div>

  <div class="col-lg-4">
          <div class="card" style="text-align: center; padding-top: 1rem; background-color: darkgrey;">
                <h5 class="card-title">Game info</h5>
                <div class="card-body">

                </div>
            </div>
          </div>
<!-- 
  <div class="col-lg-4">
            <div class="card" style="text-align: center; background-color: darkgrey;">
                <div class="card-body">
                    <img src="../../assets/img/ship_small.jpg" alt="Ship image" style="max-width: 100%;">
                </div>
            </div>
          </div> -->

  <div class="col-lg-4">
            <div class="card" style="text-align: center; background-color: darkgrey;">
                <div class="card-body">
                    <a>
                        <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/landing">End the game</button>
                    </a>
                </div>
            </div>
          </div>
</div>

<!-- Background colors to be changed in final release -->
