<div class="row" style="padding: 1rem; background-color: rgb(238, 228, 228);">
    <div class="col-lg-6">    
      <div class="bs-component" style="background-color: darkgreen;">
        <div class="card" style="text-align: center;">
          <div class="card-body">
              Your ships
          </div>
        </div>
        <app-map></app-map>

    </div>

    </div>
    <div class="col-lg-6">
      <div class="bs-component" style="background-color: darkgreen;">
        <div class="card" style="text-align: center;">
          <div class="card-body">
              Take a shot
          </div>
        </div>
            <app-grid></app-grid>
        </div>
    </div>
</div>

<div class="row" style="padding: 1rem; background-color: rgb(238, 228, 228);">
  <div class="col-lg-4">
          <div class="card" style="text-align: center; padding-top: 1rem; background-color: darkgrey;">
            <h5 class="card-title">Player info</h5>
            <div class="card-body">
              <p *ngIf="player" >
                Player {{player.id}}: {{player.name}}
              </p>
            </div>
          </div>
        </div>

  <div class="col-lg-4">
          <div class="card" style="text-align: center; padding-top: 1rem; background-color: darkgrey;">
                <h5 class="card-title">Game info</h5>
                <div class="card-body">
                  <app-messages></app-messages>
                </div>
            </div>
          </div>

  <div class="col-lg-4">
            <div class="card" style="text-align: center; background-color: darkgrey;">
                <div class="card-body">
                    <a>
                        <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/landing">End the game</button>
                    </a>
                </div>
            </div>
          </div>
</div>

<!-- Background colors to be changed in final release -->
